<h1>Blackjack game</h1>

<h4>Welcome! <%= session[:player_name] %></h4>


<div class="well">
  <h4>dealer's cards are:</h4>
  <ul>
    <% session[:dealer_cards].each do |card| %>
      <li><%= card.to_s %></li>
    <% end %>
  </ul>
  
</div>
<p>Dealer has <%= calculate_total(session[:dealer_cards])%></p>
<form action='/game/dealer/hit' method='post'>
  <input type='submit' class='btn btn-success' value="dealer's turn"/> 
</form>



</br>


<div class="well">
  <h4>player's cards are:</h4>
  <ul>
    <% session[:player_cards].each do |card| %>
      <li><%= card.to_s %></li>
    <% end %>
  </ul>
</div>

<p>
  What would you like to do?
  <%= session[:player_name] %> has <%= calculate_total(session[:player_cards])%>
</p>

<% if @show_hit_or_stay %>
  <form id='hit_form' action='/game/player/hit' method='post'>
    <input type='submit' class='btn btn-primary' value='Hit'/>
  </form>
  <form id='stay_form' action='/game/player/stay' method='post'>
    <input type='submit' class='btn btn-warning' value='Stay' />
  </form>
<% end %>


