<h1>Blackjack game</h1>

<h4>Welcome! <%= session[:player_name] %></h4>

<% if @play_again %>
  <p>
    <strong>Play again?</strong>
    <a href="/game" class="btn btn-danger">Yes</a>
    <a href="/game_over" class="btn">No</a>
  </p>
<% end %>

<div class="well">
  <h4>dealer's cards are:</h4>
    <% session[:dealer_cards].each_with_index do |card, i| %>
      <% if session[:true] != "dealer" && i == 0 %>
        <img src="/images/cards/cover.jpg">
      <% else %>
        <%= card_img(card) %>
      <% end %>
    <% end %>
</div>


<% if @show_dealer_hit_button %>
  <p>Dealer has <%= calculate_total(session[:dealer_cards]) %></p>
  <form action='/game/dealer/hit' method='post'>
    <input type='submit' class='btn btn-success' value="Click to see dealer's cards &rarr;"/> 
  </form>
<% end %>


</br>


<div class="well">
  <h4>player's cards are:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_img(card) %>
    <% end %>
</div>

<p>
  What would you like to do?
  <%= session[:player_name] %> has <%= calculate_total(session[:player_cards])%>
</p>

<% if @show_hit_or_stay %>
  <form id='hit_form' action='/game/player/hit' method='post'>
    <input type='submit' class='btn btn-primary' value='Hit'/>
  </form>
  <form id='stay_form' action='/game/player/stay' method='post'>
    <input type='submit' class='btn btn-warning' value='Stay' />
  </form>
<% end %>


